<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Roomba Routes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <header>Roomba Routes</header>

  <div class="grid">
    <div class="grid-box top left"></div>
    <div class="grid-box top"></div>
    <div class="grid-box top occupied"></div>
    <div class="grid-box top"></div>
    <div class="grid-box right top"></div>
    
    <div class="grid-box left"></div>
    <div class="grid-box"></div>
    <div class="grid-box"></div>
    <div class="grid-box"></div>
    <div class="grid-box right"></div>
    
    <div class="grid-box left"></div>
    <div class="grid-box"></div>
    <div class="grid-box occupied"></div>
    <div class="grid-box"></div>
    <div class="grid-box right"></div>
    
    <div class="grid-box left"></div>
    <div class="grid-box"></div>
    <div class="grid-box"></div>
    <div class="grid-box occupied"></div>
    <div class="grid-box right"></div>
    
    <div class="grid-box left bottom"></div>
    <div class="grid-box bottom"></div>
    <div class="grid-box bottom"></div>
    <div class="grid-box bottom"></div>
    <div class="grid-box right bottom roomba"></div>
  </div>
  
  <script src="script.js"></script>
</body>
</html>